body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

select, input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

select {
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    margin-top: 10px;
}

.result {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.translate-another {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
}

.translate-another:hover {
    text-decoration: underline;
}
.result {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.result p {
    margin: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transform: scale(1.9);
    transform-origin: top left;
}

.italic {
    font-style: italic;
}

.bold-color {
    font-weight: bold;
    color: #007bff; /* Синий цвет */
}



